.Sarada {
    width: 100%;
    min-height: 93vh;
    max-height: 105vh;
    display: flex;

    flex: 1;

    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url('./sarada-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.Sarada .heroBox {
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.heroImg {
    width: 20%;
    height: 90%;

    transition: all .3s;
}

.heroImg:hover {
    transform: translateX(20px);
    cursor: pointer;
}